main .about-me {
    background: $purple;
    direction: rtl;
    padding: 5em 1.5em 15em 1.5em;
    border-bottom: 2px solid rgba($dark-blue, .3);
    .text-wrapper{
        text-align: center;
        opacity: 0;
        &.show{
            animation: fadeIn-from-bot .75s ease-in-out forwards;
        }
        h2{
            font-size: 2.5em;
            color: white;
            padding-bottom: .4em;
            @include breakpoint-less(mobile){
                font-size: 1.8em;
            }
            .bigger{
                color: white;
                font-size: 1.15em;
            }
        }
        p{
            font-size: 1.5em;
            color: white;
            @include breakpoint-less(mobile){
                font-size: 1.2em;
            }
            strong{
                line-height: 2.1em;
                color: white;
                @include breakpoint-less(mobile){
                    line-height: 1.2em;
                }
            }
        }
    }

}
