main section.about-me {
    direction: rtl;
    display: flex;
    justify-content: space-around;
    margin-top: 5.5em;
    padding: 4em;
    padding-top: 0;
    padding-bottom: 8em;
    @include breakpoint-less(tablet) {
        flex-direction: column-reverse;
        margin-top: 3em;
    }
    .text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        opacity: 0;
        transform: translateY(150px);
        transition: transform 0.4s ease, opacity 0.4s ease;
        @include breakpoint-less(tablet) {
            max-width: 100%;
            margin-top: 2em;
            transform: translateY(125px);
        }
        @include breakpoint-less(mobile) {
            transform: translateY(100px);
        }
        &.trigger-on {
            opacity: 1;
            transform: translateY(0);
        }

        h2 {
            font-size: 2.5em;
            text-align: center;
            @include breakpoint-less(tablet) {
                font-size: 2.25em;
            }
            @include breakpoint-less(mobile) {
                font-size: 2em;
            }
            span {
                font-size: 0.9em;
            }
        }
        p {
            margin-top: 0.5em;
            font-size: 1.3em;
            text-align: center;
            @include breakpoint-less(tablet) {
                font-size: 1.2em;
            }
            @include breakpoint-less(mobile) {
                font-size: 1.1em;
            }

            span {
                line-height: 2em;
                font-weight: 700;
                letter-spacing: 2px;
                @include breakpoint-less(tablet) {
                    line-height: 1em;
                }
            }
        }
    }
    .img {
        text-align: center;
        opacity: 0;
        transform: translateY(150px);
        transition: transform 0.4s ease, opacity 0.4s ease;
        &.trigger-on {
            opacity: 1;
            transform: translateY(0);
        }
        img {
            width: 350px;
            height: 350px;
            padding: 10px;
            filter: drop-shadow(0 0 10px rgba($dark-blue, 0.5));

            @include breakpoint-less(tablet) {
                width: 300px;
                height: 300px;
            }
            @include breakpoint-less(mobile) {
                width: 250px;
                height: 250px;
            }
        }
    }
}
