.contact-page {
    direction: rtl;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    min-height: calc(100vh - 100px);
    font-family: "assistant";

    @include breakpoint-less(large){
        padding: 0;
        padding-bottom: 30px;
        // margin-top: -10%;
        min-height: calc(100vh - 92px);
    }
    .main-content {
        position: relative;
        padding: 0 150px;
        padding-top: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        
        @include breakpoint-less(large){
            padding: 25px 15px 0 15px;
        }

        .titles {
            display: flex;
            flex-direction: column;
            opacity: 0;
            transform: translateY(-10%);
            transition: 1s ease-in-out;
            @include breakpoint-less(large){
                transition: .75s ease-in-out;
            }
            &.active {
                opacity: 1;
                transform: translateY(0%);
            }
            h2 {
                font-size: 2rem;
                text-align: center;
                @include breakpoint-less(large){
                    font-size: 1.8rem;
                }
            }
            h4 {
                font-size: 1.5rem;
                text-align: center;
                @include breakpoint-less(large){
                    font-size: 1.35rem;
                }
            }
        }
        .form-wrapper {
            width: 75%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transform: translateY(10%);
            transition: 1s ease-in-out;
            @include breakpoint-less(large){
                width: 90%;
                transition: .75s ease-in-out;
            }
            &.active {
                opacity: 1;
                transform: translateY(0%);
            }
            form {
                width: 75%;
                .input-div {
                    width: 100%;
                    margin-top: 25px;
                    border-bottom: 2px solid #808080;
                    position: relative;
                    transition: all 0.9s ease-in-out;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        right: 0;
                        bottom: -1.5px;
                        background-color: $main-blue;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: all 1s ease-in-out;
                        @include breakpoint-less(large){
                            transition: all .7s ease-in-out;
                        }
                    }
                    &.active {
                        border-bottom: 2px solid #80808000;
                        &::before {
                            transform: scaleX(1);
                        }
                    }
                    &.submit {
                        border: none;
                        input {
                            cursor: pointer;
                            background-color: $main-red;
                            font-weight: bold;
                            border-radius: 5px;
                        }
                        &::before {
                            opacity: 0;
                        }
                    }
                    &.required {
                        position: relative;
                        &::after {
                            content: "\f069";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -15px;
                            color: $main-red;
                            font-size: 0.7rem;
                            @include breakpoint-less(large){
                                font-size: 0.5rem;

                            }
                        }
                    }
                    input,
                    textarea {
                        padding: 10px 20px;
                        width: 100%;
                        outline: none;
                        font-size: 1.2rem;
                        border: none;
                        font-family: "assistant";
                        background-color: transparent;
                        @include breakpoint-less(large){
                            font-size: 1rem;
                            padding: 10px 10px 5px 10px;
                        }
                    }
                    textarea {
                        resize: none;
                        height: 250px;
                    }
                }
            }
        }
    }
    .custom-shape-divider-bottom-1600853732 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300%;
        overflow: hidden;
        line-height: 0;
        opacity: 1;
        transition: opacity 1.4s ease-in-out;
        animation-name: wave;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        // animation-timing-function: ease-in-out;
        animation-timing-function: linear;
        animation-duration: 7s;
    }
    
    .custom-shape-divider-bottom-1600853732 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-bottom-1600853732 .shape-fill {
        // fill: #2980B94D;
        fill: rgba($main-blue, 0.7);
    }
}
