.contact-page {
    color: white;
    direction: rtl;
    padding-top: 30px;
    // padding-bottom: 30px;
    position: relative;

    background: url("https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_960_720.jpg"), rgba(black, 0.85);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    min-height: calc(100vh - 100px);
    font-family: "assistant";

    @include breakpoint-less(large) {
        padding: 0;
        padding-bottom: 30px;
        // margin-top: -10%;
        min-height: calc(100vh - 92px);

        background: url("https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_960_720.jpg"),
            rgba(black, 0.7);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .main-content {
        position: relative;
        padding: 0 150px;
        // padding-top: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;

        @include breakpoint-less(large) {
            padding: 25px 15px 0 15px;
        }

        .titles {
            display: flex;
            flex-direction: column;
            opacity: 0;
            // transition: 1s ease-in-out;
            @include breakpoint-less(large) {
                transition: 0.75s ease-in-out;
            }
            &.active {
                opacity: 1;
                transition: 1s ease-in-out;
            }
            h2 {
                font-size: 2rem;
                text-align: center;
                @include breakpoint-less(large) {
                    font-size: 1.8rem;
                }
            }
            h4 {
                font-size: 1.5rem;
                text-align: center;
                @include breakpoint-less(large) {
                    font-size: 1.35rem;
                }
            }
        }
        .form-wrapper {
            width: 75%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            // transform: translateY(10%);
            // transition: 1s ease-in-out;
            @include breakpoint-less(large) {
                width: 90%;
                transition: 0.75s ease-in-out;
            }
            &.active {
                opacity: 1;
                transition: 1s ease-in-out;
            }
            form {
                width: 75%;
                .input-div {
                    width: 100%;
                    margin-top: 25px;
                    border-bottom: 2px solid #808080;
                    position: relative;
                    transition: all 0.9s ease-in-out;
                    &.text-type {
                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            right: 0;
                            bottom: -1.5px;
                            background-color: $main-blue;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: all 1s ease-in-out;
                            @include breakpoint-less(large) {
                                transition: all 0.7s ease-in-out;
                            }
                        }
                    }
                    &.active {
                        border-bottom: 2px solid #80808000;
                        &::before {
                            transform: scaleX(1);
                        }
                    }
                    &.submit {
                        border: none;
                        overflow: hidden;
                        margin-bottom: 30px;
                        @include breakpoint-less(large) {
                            background-color: $main-red;
                            box-shadow: 0 0 15px $main-red;
                        }
                        input {
                            cursor: pointer;
                            font-weight: bold;
                            transition: color 0.5s ease-in-out;
                            @include breakpoint-less(large) {
                                color: white;
                            }
                        }
                        &::before,
                        &::after {
                            @include breakpoint-less(large) {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 10px;
                            height: 10px;
                            border-left: 3px solid $main-red;
                            border-top: 3px solid $main-red;
                            transition: all 0.5s ease-in-out 0s;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            border-right: 3px solid $main-red;
                            border-bottom: 3px solid $main-red;
                            transition: all 0.5s ease-in-out 0s;
                        }
                        &:hover {
                            // color: white;
                            background-color: $main-red;
                            box-shadow: 0 0 15px $main-red;
                            transition: all 0.4s ease-in-out 0.3s;
                            input {
                                color: white;
                            }
                            &::before,
                            &::after {
                                width: 100%;
                                height: 100%;
                                z-index: -1;
                                transition: all 0.5s ease-in-out 0s;
                            }
                        }
                    }
                    &.required {
                        position: relative;
                        &::after {
                            content: "\f069";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: -15px;
                            color: $main-red;
                            font-size: 0.7rem;
                            @include breakpoint-less(large) {
                                font-size: 0.5rem;
                            }
                        }
                    }
                    input,
                    textarea {
                        padding: 10px 20px;
                        width: 100%;
                        outline: none;
                        font-size: 1.2rem;
                        border: none;
                        font-family: "assistant";
                        background-color: transparent;
                        color: white;
                        @include breakpoint-less(large) {
                            font-size: 1rem;
                            padding: 10px 10px 5px 10px;
                        }
                    }
                    textarea {
                        resize: none;
                        height: 170px;
                    }
                }
            }
        }
    }
}
