.features{
    background: $darkGrayBg;
    align-items: center;
    text-align: center;
    padding-bottom: 150px;
    @include breakpoint-less(large){
        padding-top: 150px;
        padding-bottom: 50px;
    }

    h1{
        font-size: 1.5em;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: fit-content;
        margin: 0 auto;
        color: $darkCyan;
        @include breakpoint(large){
            font-size: 2.4em;
            letter-spacing: 5px;
        }
    }
    .desc{
        font-size: 1em;
        line-height: 1.2em;
        text-transform: capitalize;
        width: fit-content;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        @include breakpoint(large){
            font-size: 1.2em;
            line-height: 1.6em;
        }
    }

    .features-container{
        width: 70%;
        margin: 35px auto 0 auto;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        @include breakpoint(large){
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-column-gap: 100px;
            grid-row-gap: 60px;
        }

        .feature{
            @include breakpoint-less(large){
                margin: 0;
            }
            .feature-logo{
                font-size: 70px;
                padding-bottom: 10px;
                color: $darkCyan;
            }
            h3{
                font-size: 1.1em;
                @include breakpoint(large){
                    font-size: 1.2em;
                }
            }
            p{
                font-size: 1em;
                margin-top: 5px;
                @include breakpoint(large){
                    font-size: 1.1em;
                }
            }
            &:last-child{
                @include breakpoint(large){
                    grid-column: 1 / span 2;
                }
            }
        }
        
    }
}