* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,
body {
    overflow-x: hidden;
}
a {
    color: black;
}
.clr-red {
    color: $main-red;
}
.clr-blue {
    color: $main-blue;
}
.bold {
    font-weight: bold;
}
section{
    min-height: 100vh;
    width: 100vw;
}
