html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: $spacielFont;
    width: 100%;
    $mobile: false;
    @include breakpoint-less(large){
        $mobile: true;
    }
}
section{
    padding-top: 40px;
    padding-bottom: 250px;
    @include breakpoint-less(large){
        padding-bottom: 150px;
    }
}
h1, h2, h3{
    margin: 0 0 0 0;
}
.glue{
    width: 100%;
    height: 10px;
}
.light-to-dark{
    background: linear-gradient(to bottom, $lightGrayBg, $darkGrayBg);
}
.dark-to-light{
    background: linear-gradient(to top, $lightGrayBg, $darkGrayBg);
}
