* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $rubik;
    color: $dark-blue;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    &.load{
        overflow: hidden;
    }
}
// section{
//     overflow: hidden;
// }
a {
    text-decoration: none;
    color: black;
}
.english {
    font-family: $poppins;
}
.clr-purple {
    color: $purple;
    position: relative;
}
.back-to-top-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .back-to-top {
        font-size: 3em;
        color: white;
        border: 2px solid $purple;
        border-radius: 50%;
        background-color: $purple;
        cursor: pointer;
        position: fixed;
        bottom: 1em;
        right: 1em;
        z-index: 111111;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: white;
            color: $purple;
            border: 2px solid white;
        }

        @include breakpoint-less(tablet) {
            font-size: 2.7em;
            border-width: 1.85px;
        }
        @include breakpoint-less(mobile) {
            font-size: 2.4em;
            border-width: 1.6px;
        }
    }
}