header {
    background-color: $purple;
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
    @include breakpoint-less(tablet){
        padding: 1.5rem 3rem;
    }
    @include breakpoint-less(mobile){
        padding: rem 2rem;
    }
    i.fa-undo{
        color: #fff;
        font-size: 1.2em;
        &:hover{
            animation: back-btn-rotate .25s ease-in-out;
        }
    }
    .logo {
        width: 40%;
        svg {
            width: 130px;
            height: auto;
            transition: transform .3s ease-in-out;
            &:hover{
                transform: rotate(7.5deg);
            }            
            @include breakpoint-less(tablet){
                width: 110px;   
            }
            @include breakpoint-less(mobile){
                width: 90px;
            }   
        }
    }
    i.fa-bars{
        color: #fff;
        font-size: 2em;
        cursor: pointer;
        display: none;
        @include breakpoint-less(tablet){
            display: inline-flex;
            font-size: 1.75em;
        }
        @include breakpoint-less(mobile){
            font-size: 1.5em;
        }
    }
    nav {
        direction: rtl;
        display: flex;
        width: 60%;
        // justify-content: space-between;
        align-items: center;
        position: relative;
        @include breakpoint(tablet){
            justify-content: space-between;
        }
        @include breakpoint-less(tablet){
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            background-color: rgba($purple, .85);
            z-index: 999;
            justify-content: center;
            backdrop-filter: blur(5px);
            transform-origin: right;
            transform: scaleX(0);
        }
        &.open{
            transform: scaleX(1) !important;
        }
        .close-btn{
            i{
                color: #fff;
                font-size: 2em;
                position: absolute;
                top: 3rem;
                right: 3rem;
                display: none;
                @include breakpoint-less(tablet){
                    display: block;
                }
            }
        }

        a {
            &:first-child{
                margin-top: -2rem;
            }
            &:not(:first-child){
                @include breakpoint-less(tablet){
                    margin-top: 3em;
                }
            }
            .nav-item {
                color: #fff;
                font-size: 1.1em;
                transition: all 0.3s ease-in-out;
                position: relative;

                @include breakpoint-less(tablet){
                    font-size: 1.75em;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                }
                

                &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: $dark-blue;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    transform-origin: center;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out;
                }
            }

            &:hover {
                .nav-item {
                    color: $dark-blue;
                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}
