main section.hero-section {
    background-color: $purple;
    position: relative;
    @include breakpoint-less(mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero__text {
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include breakpoint-less(mobile) {
            // transform: translateY(-50%);
        }
        h1 {
            color: #fff;
            font-size: 3em;
            width: fit-content;
            letter-spacing: 1.5px;
            position: relative;
            position: relative;
            z-index: 2;
            opacity: 0;
            animation: fadeIn-from-top 0.75s ease-in-out forwards;
            @include breakpoint-less(tablet) {
                font-size: 2.5em;
            }
            @include breakpoint-less(mobile) {
                font-size: 2em;
            }

            &.back-text {
                color: rgba(#fff, 0.2);
                position: absolute;
                display: block;
                font-size: 6vw;
                letter-spacing: 4px;
                transform: translateY(-50%);
                z-index: 1;
                animation: fadeIn-from-top-BText 0.75s ease-in-out forwards;
                @include breakpoint-less(tablet) {
                    font-size: 4em;
                    transform: translateY(-50%);
                }
                @include breakpoint-less(mobile) {
                    display: none;
                }
            }
        }
        .sub-title {
            direction: rtl;
            color: #fff;
            width: fit-content;
            margin: 1em auto 0 auto;
            font-size: 1.5em;
            opacity: 0;
            animation: fadeIn-from-top 0.75s ease-in-out forwards;
            text-align: center;
            .breaker {
                display: none;
                @include breakpoint-less(tablet) {
                    display: inline-block;
                }
            }
            @include breakpoint-less(tablet) {
                font-size: 1.3em;
            }
            @include breakpoint-less(mobile) {
                font-size: 1.1em;
            }
        }
        i.fa-angle-double-down {
            margin: 5rem auto 0 auto;
            color: #fff;
            font-size: 3rem;
            animation: blink .75s ease alternate infinite;
            @include breakpoint-less(tablet) {
                font-size: 2.5rem;
            }
            @include breakpoint-less(mobile) {
                font-size: 2rem;
            }
        }
    }

    .platforms-wrapper {
        position: absolute;
        width: clamp(300px, 50%, 80vw);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        animation: fadeIn-from-bot-Xcontroll 0.75s ease-in-out forwards;

        .platforms {
            margin-bottom: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    }
}
