main.mail-sent{
    .mail-sent-text{
        direction: rtl;
        margin-top: 10rem;
        text-align: center;
        animation: fadeIn-from-bot .75s ease-in-out forwards;

        p.reg-text{
            font-size: 3em;
            margin-bottom: 1em;
        }
        p.timer-wrapper{
            
            span.if-error{
                display: none;
                a{
                    text-decoration: underline;
                }
                &.show{
                    display: block;
                    animation: fadeIn-from-bot .75s ease-in-out forwards;
                }
            }
        }
    }
}