#open-contact-us{
    display: none;
    z-index: 100000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.85);

    
    .open-contact-us-wrapper{
        // background: rgba($darkCyan, 0.85);
        background: rgba(#000, 0.8);
        width: 600px;
        margin: 0 auto;
        margin-top: 150px;
        padding-bottom: 25px;
        @include breakpoint-less(large){
            width: 100%;
        }

        .fa-times{
            color: #ffffff;
            font-size: 25px;
            margin: 25px 0 0 25px;
            cursor: pointer;
            transition: .1s ease-in-out;
    
            &:hover{
                color: $darkGray;
            }
        }
        h1{
            width: fit-content;
            margin: 0 auto;
            text-decoration: underline;
            color: #ffffff;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
            margin-top: 30px;
            position: relative;

            .input-div{
                width: 100%;
                position: relative;
                overflow: hidden;
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: $darkCyan;
                    bottom: 20px;
                    left: -100%;
                    transition: left 250ms ease-in;
                }
            }
            .active-input{
                &::after{
                    left: 0;
                }
            }
            .input-title{
                text-transform: capitalize;
                color: $lightGray;
                position: relative;
                top: 30px;
                left: 10px;
                font-size: 1.2rem;
                pointer-events: none;
                transition: .2s ease-in-out;
                position: relative;

                
            }

            input[type=text], input[type=tel], input[type=email]{
                padding: 5px 20px;
                font-size: 1.3rem;
                margin-bottom: 20px;
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1.5px solid $lightGray;
                color: white;
                transition: .15s ease-in-out;
                position: relative;
                // &:focus{
                //     border-bottom: 3px solid $darkCyan;
                //     // transform: scale(1.1);
                // }
            }
            input[type=submit]{
                cursor: pointer;
                padding: 10px 20px !important;
                font-size: 1.3rem !important;
                margin-top: 10px;
                border: none;
                border-radius: 30px;
                // background-color: $darkGray;
                background: linear-gradient(top right, $cyan, $darkCyan);
                color: #ffffff;

                transition: .2s ease-in-out;
                &:hover{
                    background-color: $lightGray;
                    transform: translateY(-5px);
                    box-shadow: 1px 2px 2px rgba($cyan, 0.7);
                    background: linear-gradient(top left, $cyan, $darkCyan);
                }

            }
        }
    }
    
    
}