main .questions-and-answers{
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
    h3{
        width: fit-content;
        font-size: 2.5em;
        opacity: 0;
        &.show{
            animation: fadeIn-from-top .75s ease-in-out forwards;
        }
        @include breakpoint-less(mobile){
            font-size: 1.8em;
        }
    }
    .qaa-wrapper{
        width: 75%;
        opacity: 0;
        &.show{
            animation: fadeIn-from-bot .75s ease-in-out forwards;
        }
        .qaa{
            margin-bottom: 2em;
            &:first-child{
                margin-top: 2em;
            }
            &__question{
                font-size: 1.5em;
                font-weight: 700;
                position: relative;
                cursor: pointer;
                @include breakpoint-less(mobile){
                    font-size: 1.2em;
                }
                &::before{
                    content: '\f067';
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    transform: translate(15px, -50%);
                    font-size: .85em;
                }
            }
            &__answer{
                font-size: 1.4em;
                display: none;
                @include breakpoint-less(mobile){
                    font-size: 1.15em;
                }
            }
            &.open{
                .qaa__question{
                    &::before{
                        content: '\f068';
                    }
                }
            }
        }
    }
}