.second-page {
    direction: rtl;
    padding: 0px 150px;
    position: relative;
    min-height: calc(100vh - 100px);
    background: url("https://cdn.pixabay.com/photo/2016/12/19/08/39/mobile-phone-1917737_960_720.jpg"),
        rgba(black, 0.85);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    color: #ffffff;
    @include breakpoint-less(large) {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 0 50px;
        margin-top: -10%;
        min-height: calc(100vh - 92px);
    }

    .why {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title {
            font-size: 2rem;
            padding-bottom: 20px;
            @include breakpoint-less(large){
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
        }
        &-list {
            list-style: none;
            &-item {
                padding: 15px 0px;
                font-size: 1.3rem;
                position: relative;
                text-align: justify;
                @include breakpoint-less(large){
                    font-size: 1rem;
                    padding: 8px 0px;
                }
                &.check {
                    &::before {
                        content: "\f00c";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: #2ecc71;
                        position: absolute;
                        right: -40px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 1.3em;
                        @include breakpoint-less(large){
                            font-size: 1rem;
                            right: -30px;
                        }
                    }
                }
                &.money {
                    &::before {
                        content: "\f4c0";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: #2ecc71;
                        position: absolute;
                        right: -40px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 1.3em;
                        @include breakpoint-less(large){
                            font-size: 1rem;
                            right: -30px;
                        }
                    }
                }
                &.time {
                    &::before {
                        content: "\f017";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: #2ecc71;
                        position: absolute;
                        right: -40px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 1.3em;
                        @include breakpoint-less(large){
                            font-size: 1rem;
                            right: -30px;
                        }
                    }
                }
                &.eso {
                    &::before {
                        content: "\f00e";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: #2ecc71;
                        position: absolute;
                        right: -40px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 1.3em;
                        @include breakpoint-less(large){
                            font-size: 1rem;
                            right: -30px;
                        }
                    }
                }
            }
        }
    }
}
