.third-page {
    direction: rtl;
    padding-top: 30px;
    position: relative;
    min-height: calc(100vh - 100px);
    @include breakpoint-less(large){
        padding: 0;
        padding-bottom: 30px;
        margin-top: 10%;
        min-height: calc(100vh - 92px);
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        bottom: 0;
        position: absolute;
        clip-path: circle(0% at 0% 100%);
        background-color: rgba($main-blue, 0.3);
        opacity: 1;
        z-index: 1;
        overflow: visible;
        transition: all 1.2s ease-in-out;
        @include breakpoint-less(large){
            transition: all .6s ease-in-out;
        }
    }
    &.active {
        &::before {
            opacity: 1;
            // clip-path: circle(65% at 0% 79.5%);
            @include breakpoint-less(large){
                clip-path: circle(0% at 0% 100%);
            }
        }
        .custom-shape-divider-bottom-1600853732{
            opacity: 1;
        }
    }

    .main-content {
        padding: 0 150px;
        display: flex;
        // z-index: 1;
        @include breakpoint-less(large){
            padding: 0 50px;
            flex-direction: column;
        }
        .in-web-desc {
            position: relative;
            right: -50%;
            opacity: 0;
            width: 50%;
            // transition: right .8s ease-in-out, opacity .8s ease-in 0.15s;
            @include breakpoint-less(large){
                width: 90%;
                transition: right .4s ease-in-out, opacity .4s ease-in-out;
            }
            &.active{
                right: 0%;
                opacity: 1;
                transition: right .8s ease-in-out, opacity .95s ease-in;
                @include breakpoint-less(large){
                    right: 50%;
                    transform: translateX(50%);
                }
            }
            h2 {
                font-family: $assistant;
                font-size: 2.5rem;
                @include breakpoint-less(xlarge) {
                    font-size: 2.2rem;
                }
                @include breakpoint-less(large){
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
            h3{
                display: inline-block;
            }
            ul {
                list-style: none;
                padding: 10px 0px;
                text-align: right;
                @include breakpoint-less(large){
                    margin: 0 auto;
                }
                li {
                    padding: 15px 0;
                    font-size: 1.7rem;
                    @include breakpoint-less(xlarge) {
                        font-size: 1.496rem;
                    }
                    @include breakpoint-less(large){
                        font-size: 1.224rem;
                        // text-align: center;
                    }
                    &.check{
                        position: relative;
                        @include breakpoint-less(large){
                            text-align: center;
                        }
                        &::before{
                            // position: absolute;
                            position: relative;
                            content: "\f00c";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            margin-left: 15px;
                            color: #2ECC71;
                            top: 50%;
                            transform: translateY(-50%);
                            // right: -35px;
                            @include breakpoint-less(large){
                                font-size: 1.1em;
                                right: -10px;
                                margin-left: 0px;
                            }
                        }
                    }

                    .english-text{
                        font-family: $poppins;
                    }
                }
            }
        }
        .codes-text{
            margin-top: 250px;
            position: relative;
            left: -50%;
            opacity: 0;
            width: 50%;
            // transition: left 1.4s ease-in-out, opacity 1.4s ease-in 0.3s;
            @include breakpoint-less(large){
                width: 90%;
                margin-top: 100px;
                transition: left .7s ease-in-out, opacity .7s ease-in-out;
            }
            &.active{
                left: 0%;
                opacity: 1;
                transition: left 1.4s ease-in-out, opacity 1.4s ease-in 0.3s;
                @include breakpoint-less(large){
                    margin: 100px auto 0 auto;
                }
            }
            text-align: center;
            z-index: 2;
            h2 {
                // margin-top: 250px;
                font-family: $assistant;
                font-size: 2.5rem;
                @include breakpoint-less(xlarge) {
                    font-size: 2.2rem;
                }
                @include breakpoint-less(large){
                    font-size: 1.8rem;
                    text-align: center;
                    margin-top: 0px;  
                }                
            }
            .codes-lang {
                margin-top: 35px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
                
                @include breakpoint-less(large){
                    // margin: 0px;
                    gap: 25px;
                    grid-template-columns: repeat(1, 1fr);
                }
                i{
                    font-size: 4rem;
                    color: $main-red;
                }
                h4{
                    direction: ltr;
                    font-family: $poppins;
                }
            }
        }
    }
    
    // Bottom svg WAVE
    

    .custom-shape-divider-bottom-1600873633 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1600873633 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 151px;
    }

    .custom-shape-divider-bottom-1600873633 .shape-fill {
        fill: rgba($main-blue, 0.7);
    }
}
