@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@-webkit-keyframes wave {
  from {
    left: 0;
  }
  to {
    left: -200%;
  }
}
@keyframes wave {
  from {
    left: 0;
  }
  to {
    left: -200%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: black;
}

.clr-red {
  color: #E74C3C;
}

.clr-blue {
  color: #2980B9;
}

.bold {
  font-weight: bold;
}

.bigger {
  font-size: 1.3em;
}

section {
  width: 100vw;
}

header {
  padding: 30px 150px;
  position: fixed;
  background-color: transparent;
  z-index: 2;
  width: 100vw;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  display: none;
}

@media screen and (max-width: 999px) {
  header {
    padding: 30px 70px;
    z-index: 2;
  }
}

header.page-down {
  background-color: black;
  z-index: 9999999;
}

header.page-down .logo h1 {
  color: white;
}

header.page-down .logo .clr-blue {
  color: #E74C3C;
}

header.page-down .logo-text::before {
  color: white;
}

header .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

header .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 999px) {
  header .logo-text {
    margin: 0 auto;
  }
}

header .logo-text h1 {
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-transition: color 0.5s ease-in-out 0.1s;
  transition: color 0.5s ease-in-out 0.1s;
}

@media screen and (max-width: 999px) {
  header .logo-text h1 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

header .logo-text h1 .clr-blue {
  -webkit-transition: color 0.5s ease-in-out 0.1s;
  transition: color 0.5s ease-in-out 0.1s;
}

@media screen and (max-width: 999px) {
  header .logo-text h1 .clr-blue {
    color: #E74C3C;
  }
}

header .logo-text::before {
  content: "\f120";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
  -webkit-transition: color 0.5s ease-in-out 0.1s;
  transition: color 0.5s ease-in-out 0.1s;
}

.first-page {
  direction: rtl;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.first-page::before {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  -webkit-clip-path: circle(0% at 100% 0%);
          clip-path: circle(0% at 100% 0%);
  background-color: rgba(41, 128, 185, 0.7);
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.first-page.active::before {
  opacity: 1;
  -webkit-clip-path: circle(50% at 100% 28%);
          clip-path: circle(50% at 100% 28%);
}

@media screen and (max-width: 999px) {
  .first-page.active::before {
    -webkit-clip-path: circle(50% at 100% 0%);
            clip-path: circle(50% at 100% 0%);
  }
}

.first-page .main-content {
  direction: rtl;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 150px;
  font-family: "Assistant", sans-serif;
  position: relative;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  opacity: 0;
  -webkit-transition: opacity 1.4s ease-in 0.3s, -webkit-transform 1.4s ease-in-out;
  transition: opacity 1.4s ease-in 0.3s, -webkit-transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out, opacity 1.4s ease-in 0.3s;
  transition: transform 1.4s ease-in-out, opacity 1.4s ease-in 0.3s, -webkit-transform 1.4s ease-in-out;
}

.first-page .main-content.active {
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
  opacity: 1;
}

@media screen and (max-width: 999px) {
  .first-page .main-content.active {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    padding: 0 50px;
  }
}

.first-page .main-content h1 {
  font-size: 3rem;
}

@media screen and (max-width: 1399px) {
  .first-page .main-content h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 999px) {
  .first-page .main-content h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.first-page .main-content p {
  font-size: 2rem;
}

@media screen and (max-width: 1399px) {
  .first-page .main-content p {
    font-size: 1.65rem;
  }
}

@media screen and (max-width: 999px) {
  .first-page .main-content p {
    font-size: 1.4rem;
    text-align: center;
  }
}

.first-page .main-content p br {
  display: none;
}

@media screen and (max-width: 1200px) {
  .first-page .main-content p br {
    display: block;
  }
}

.first-page .main-content a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0 0 auto;
  color: #2980B9;
  font-size: 1.7rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 40px;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1399px) {
  .first-page .main-content a {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 999px) {
  .first-page .main-content a {
    font-size: 1.3rem;
    margin: 35px auto 0 auto;
    color: white;
    background-color: #2980B9;
    -webkit-box-shadow: 0 0 15px #2980B9;
            box-shadow: 0 0 15px #2980B9;
  }
}

.first-page .main-content a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 3px solid #2980B9;
  border-top: 3px solid #2980B9;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.first-page .main-content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 3px solid #2980B9;
  border-bottom: 3px solid #2980B9;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.first-page .main-content a:hover {
  color: white;
  background-color: #2980B9;
  -webkit-box-shadow: 0 0 15px #2980B9;
          box-shadow: 0 0 15px #2980B9;
  -webkit-transition: all 0.4s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0.3s;
}

.first-page .main-content a:hover::before, .first-page .main-content a:hover::after {
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.second-page {
  direction: rtl;
  padding: 0px 150px;
  position: relative;
  min-height: calc(100vh);
  background: url("https://cdn.pixabay.com/photo/2016/12/19/08/39/mobile-phone-1917737_960_720.jpg"), rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  color: #ffffff;
}

@media screen and (max-width: 999px) {
  .second-page {
    background-position: 20% 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 0 50px;
    margin-top: -10%;
    min-height: calc(100vh - 92px);
  }
}

.second-page .why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-page .why-title {
  font-size: 2.75vw;
  padding-bottom: 20px;
}

@media screen and (max-width: 999px) {
  .second-page .why-title {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
}

.second-page .why-list {
  list-style: none;
}

.second-page .why-list-item {
  padding: 15px 0px;
  font-size: 1.3rem;
  position: relative;
  text-align: justify;
}

@media screen and (max-width: 999px) {
  .second-page .why-list-item {
    font-size: 1rem;
    padding: 8px 0px;
  }
}

.second-page .why-list-item.check::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #2ecc71;
  position: absolute;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.3em;
}

@media screen and (max-width: 999px) {
  .second-page .why-list-item.check::before {
    font-size: 1rem;
    right: -30px;
  }
}

.second-page .why-list-item.money::before {
  content: "\f4c0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #2ecc71;
  position: absolute;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.3em;
}

@media screen and (max-width: 999px) {
  .second-page .why-list-item.money::before {
    font-size: 1rem;
    right: -30px;
  }
}

.second-page .why-list-item.time::before {
  content: "\f017";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #2ecc71;
  position: absolute;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.3em;
}

@media screen and (max-width: 999px) {
  .second-page .why-list-item.time::before {
    font-size: 1rem;
    right: -30px;
  }
}

.second-page .why-list-item.eso::before {
  content: "\f00e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #2ecc71;
  position: absolute;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.3em;
}

@media screen and (max-width: 999px) {
  .second-page .why-list-item.eso::before {
    font-size: 1rem;
    right: -30px;
  }
}

.third-page {
  direction: rtl;
  padding-top: 30px;
  position: relative;
  min-height: calc(100vh - 100px);
}

@media screen and (max-width: 999px) {
  .third-page {
    padding: 0;
    padding-bottom: 30px;
    margin-top: 10%;
    min-height: calc(100vh - 92px);
  }
}

.third-page::before {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  -webkit-clip-path: circle(0% at 0% 100%);
          clip-path: circle(0% at 0% 100%);
  background-color: rgba(41, 128, 185, 0.3);
  opacity: 1;
  z-index: 1;
  overflow: visible;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

@media screen and (max-width: 999px) {
  .third-page::before {
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
  }
}

.third-page.active::before {
  opacity: 1;
}

@media screen and (max-width: 999px) {
  .third-page.active::before {
    -webkit-clip-path: circle(0% at 0% 100%);
            clip-path: circle(0% at 0% 100%);
  }
}

.third-page.active .custom-shape-divider-bottom-1600853732 {
  opacity: 1;
}

.third-page .main-content {
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 999px) {
  .third-page .main-content {
    padding: 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.third-page .main-content .in-web-desc {
  position: relative;
  right: -50%;
  opacity: 0;
  width: 50%;
  -webkit-transition: right .8s ease-in-out, opacity .8s ease-in 0.15s;
  transition: right .8s ease-in-out, opacity .8s ease-in 0.15s;
}

@media screen and (max-width: 999px) {
  .third-page .main-content .in-web-desc {
    width: 90%;
    -webkit-transition: right .4s ease-in-out, opacity .4s ease-in-out;
    transition: right .4s ease-in-out, opacity .4s ease-in-out;
  }
}

.third-page .main-content .in-web-desc.active {
  right: 0%;
  opacity: 1;
}

@media screen and (max-width: 999px) {
  .third-page .main-content .in-web-desc.active {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.third-page .main-content .in-web-desc h2 {
  font-family: "Assistant", sans-serif;
  font-size: 2.5rem;
}

@media screen and (max-width: 1399px) {
  .third-page .main-content .in-web-desc h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 999px) {
  .third-page .main-content .in-web-desc h2 {
    font-size: 1.8rem;
    text-align: center;
  }
}

.third-page .main-content .in-web-desc ul {
  list-style: none;
  padding: 10px 0px;
  text-align: right;
}

@media screen and (max-width: 999px) {
  .third-page .main-content .in-web-desc ul {
    margin: 0 auto;
  }
}

.third-page .main-content .in-web-desc ul li {
  padding: 15px 0;
  font-size: 1.7rem;
}

@media screen and (max-width: 1399px) {
  .third-page .main-content .in-web-desc ul li {
    font-size: 1.496rem;
  }
}

@media screen and (max-width: 999px) {
  .third-page .main-content .in-web-desc ul li {
    font-size: 1.224rem;
  }
}

.third-page .main-content .in-web-desc ul li.check {
  position: relative;
}

@media screen and (max-width: 999px) {
  .third-page .main-content .in-web-desc ul li.check {
    text-align: center;
  }
}

.third-page .main-content .in-web-desc ul li.check::before {
  position: relative;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 15px;
  color: #2ECC71;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 999px) {
  .third-page .main-content .in-web-desc ul li.check::before {
    font-size: 1.1em;
    right: -10px;
    margin-left: 0px;
  }
}

.third-page .main-content .in-web-desc ul li .english-text {
  font-family: "Poppins", sans-serif;
}

.third-page .main-content .codes-text {
  margin-top: 250px;
  position: relative;
  left: -50%;
  opacity: 0;
  width: 50%;
  -webkit-transition: left 1.4s ease-in-out, opacity 1.4s ease-in 0.3s;
  transition: left 1.4s ease-in-out, opacity 1.4s ease-in 0.3s;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 999px) {
  .third-page .main-content .codes-text {
    width: 90%;
    margin-top: 100px;
    -webkit-transition: left .7s ease-in-out, opacity .7s ease-in-out;
    transition: left .7s ease-in-out, opacity .7s ease-in-out;
  }
}

.third-page .main-content .codes-text.active {
  left: 0%;
  opacity: 1;
}

@media screen and (max-width: 999px) {
  .third-page .main-content .codes-text.active {
    margin: 100px auto 0 auto;
  }
}

.third-page .main-content .codes-text h2 {
  font-family: "Assistant", sans-serif;
  font-size: 2.5rem;
}

@media screen and (max-width: 1399px) {
  .third-page .main-content .codes-text h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 999px) {
  .third-page .main-content .codes-text h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0px;
  }
}

.third-page .main-content .codes-text .codes-lang {
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media screen and (max-width: 999px) {
  .third-page .main-content .codes-text .codes-lang {
    gap: 25px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.third-page .main-content .codes-text .codes-lang i {
  font-size: 4rem;
  color: #E74C3C;
}

.third-page .main-content .codes-text .codes-lang h4 {
  direction: ltr;
  font-family: "Poppins", sans-serif;
}

.third-page .custom-shape-divider-bottom-1600873633 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.third-page .custom-shape-divider-bottom-1600873633 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 151px;
}

.third-page .custom-shape-divider-bottom-1600873633 .shape-fill {
  fill: rgba(41, 128, 185, 0.7);
}

.contact-page {
  direction: rtl;
  padding-top: 30px;
  position: relative;
  min-height: calc(100vh - 100px);
  font-family: "assistant";
}

@media screen and (max-width: 999px) {
  .contact-page {
    padding: 0;
    padding-bottom: 30px;
    min-height: calc(100vh - 92px);
  }
}

.contact-page .main-content {
  position: relative;
  padding: 0 150px;
  padding-top: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content {
    padding: 25px 15px 0 15px;
  }
}

.contact-page .main-content .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .titles {
    -webkit-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
  }
}

.contact-page .main-content .titles.active {
  opacity: 1;
}

.contact-page .main-content .titles h2 {
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .titles h2 {
    font-size: 1.8rem;
  }
}

.contact-page .main-content .titles h4 {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .titles h4 {
    font-size: 1.35rem;
  }
}

.contact-page .main-content .form-wrapper {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .form-wrapper {
    width: 90%;
    -webkit-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
  }
}

.contact-page .main-content .form-wrapper.active {
  opacity: 1;
}

.contact-page .main-content .form-wrapper form {
  width: 75%;
}

.contact-page .main-content .form-wrapper form .input-div {
  width: 100%;
  margin-top: 25px;
  border-bottom: 2px solid #808080;
  position: relative;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.contact-page .main-content .form-wrapper form .input-div.text-type::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  right: 0;
  bottom: -1.5px;
  background-color: #2980B9;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .form-wrapper form .input-div.text-type::before {
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
}

.contact-page .main-content .form-wrapper form .input-div.active {
  border-bottom: 2px solid #80808000;
}

.contact-page .main-content .form-wrapper form .input-div.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contact-page .main-content .form-wrapper form .input-div.submit {
  border: none;
  overflow: hidden;
  margin-bottom: 30px;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .form-wrapper form .input-div.submit {
    background-color: #E74C3C;
    -webkit-box-shadow: 0 0 15px #E74C3C;
            box-shadow: 0 0 15px #E74C3C;
  }
}

.contact-page .main-content .form-wrapper form .input-div.submit input {
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .form-wrapper form .input-div.submit input {
    color: white;
  }
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .form-wrapper form .input-div.submit::before, .contact-page .main-content .form-wrapper form .input-div.submit::after {
    width: 100%;
    height: 100%;
  }
}

.contact-page .main-content .form-wrapper form .input-div.submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 3px solid #E74C3C;
  border-top: 3px solid #E74C3C;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.contact-page .main-content .form-wrapper form .input-div.submit::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 3px solid #E74C3C;
  border-bottom: 3px solid #E74C3C;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.contact-page .main-content .form-wrapper form .input-div.submit:hover {
  background-color: #E74C3C;
  -webkit-box-shadow: 0 0 15px #E74C3C;
          box-shadow: 0 0 15px #E74C3C;
  -webkit-transition: all 0.4s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0.3s;
}

.contact-page .main-content .form-wrapper form .input-div.submit:hover input {
  color: white;
}

.contact-page .main-content .form-wrapper form .input-div.submit:hover::before, .contact-page .main-content .form-wrapper form .input-div.submit:hover::after {
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.contact-page .main-content .form-wrapper form .input-div.required {
  position: relative;
}

.contact-page .main-content .form-wrapper form .input-div.required::after {
  content: "\f069";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -15px;
  color: #E74C3C;
  font-size: 0.7rem;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .form-wrapper form .input-div.required::after {
    font-size: 0.5rem;
  }
}

.contact-page .main-content .form-wrapper form .input-div input,
.contact-page .main-content .form-wrapper form .input-div textarea {
  padding: 10px 20px;
  width: 100%;
  outline: none;
  font-size: 1.2rem;
  border: none;
  font-family: "assistant";
  background-color: transparent;
}

@media screen and (max-width: 999px) {
  .contact-page .main-content .form-wrapper form .input-div input,
  .contact-page .main-content .form-wrapper form .input-div textarea {
    font-size: 1rem;
    padding: 10px 10px 5px 10px;
  }
}

.contact-page .main-content .form-wrapper form .input-div textarea {
  resize: none;
  height: 250px;
}

.contact-page .custom-shape-divider-top-1600957640 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.contact-page .custom-shape-divider-top-1600957640 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}

.contact-page .custom-shape-divider-top-1600957640 .shape-fill {
  fill: rgba(41, 128, 185, 0.7);
}

.contact-page .custom-shape-divider-bottom-1600853732 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  overflow: hidden;
  line-height: 0;
  opacity: 1;
  -webkit-transition: opacity 1.4s ease-in-out;
  transition: opacity 1.4s ease-in-out;
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.contact-page .custom-shape-divider-bottom-1600853732 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.contact-page .custom-shape-divider-bottom-1600853732 .shape-fill {
  fill: rgba(41, 128, 185, 0.7);
}
/*# sourceMappingURL=style.css.map */