@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@-webkit-keyframes fadeIn-from-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn-from-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn-from-top-X-50deg {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

@keyframes fadeIn-from-top-X-50deg {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

@-webkit-keyframes fadeIn-from-top-X-50deg-backTextElement {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150%) translateX(-50%);
            transform: translateY(-150%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes fadeIn-from-top-X-50deg-backTextElement {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150%) translateX(-50%);
            transform: translateY(-150%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}

@-webkit-keyframes fadeIn-from-top-avatar {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes fadeIn-from-top-avatar {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes fadeIn-from-top-Ycontroll {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes fadeIn-from-top-Ycontroll {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@-webkit-keyframes fadeIn-from-bot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn-from-bot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn-from-bot-Ycontroll {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes fadeIn-from-bot-Ycontroll {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes fadeIn-from-bot-Ycontroll-50deg {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes fadeIn-from-bot-Ycontroll-50deg {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@-webkit-keyframes fadeIn-from-bot-Xcontroll {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15%) translateX(-50%);
            transform: translateY(15%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

@keyframes fadeIn-from-bot-Xcontroll {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15%) translateX(-50%);
            transform: translateY(15%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

@-webkit-keyframes back-btn-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes back-btn-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #00072D;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.english {
  font-family: "Poppins", sans-serif;
}

.clr-purple {
  color: #7510f7;
  position: relative;
}

.back-to-top-btn {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.back-to-top-btn .back-to-top {
  font-size: 3em;
  color: white;
  border: 2px solid #7510f7;
  border-radius: 50%;
  background-color: #7510f7;
  cursor: pointer;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 111111;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.back-to-top-btn .back-to-top:hover {
  background-color: white;
  color: #7510f7;
  border: 2px solid white;
}

@media screen and (max-width: 1023px) {
  .back-to-top-btn .back-to-top {
    font-size: 2.7em;
    border-width: 1.85px;
  }
}

@media screen and (max-width: 767px) {
  .back-to-top-btn .back-to-top {
    font-size: 2.4em;
    border-width: 1.6px;
  }
}

header {
  background-color: #7510f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  header {
    padding: 1.5rem 3rem;
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: rem 2rem;
  }
}

header i.fa-undo {
  color: #fff;
  font-size: 1.2em;
}

header i.fa-undo:hover {
  -webkit-animation: back-btn-rotate .25s ease-in-out;
          animation: back-btn-rotate .25s ease-in-out;
}

header .logo {
  width: 40%;
}

header .logo svg {
  width: 130px;
  height: auto;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

header .logo svg:hover {
  -webkit-transform: rotate(7.5deg);
          transform: rotate(7.5deg);
}

@media screen and (max-width: 1023px) {
  header .logo svg {
    width: 110px;
  }
}

@media screen and (max-width: 767px) {
  header .logo svg {
    width: 90px;
  }
}

header i.fa-bars {
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1023px) {
  header i.fa-bars {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.75em;
  }
}

@media screen and (max-width: 767px) {
  header i.fa-bars {
    font-size: 1.5em;
  }
}

header nav {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 1023px) {
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1023px) {
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(117, 16, 247, 0.85);
    z-index: 999;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

header nav.open {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
}

header nav .close-btn i {
  color: #fff;
  font-size: 2em;
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: none;
}

@media screen and (max-width: 1023px) {
  header nav .close-btn i {
    display: block;
  }
}

header nav a:first-child {
  margin-top: -2rem;
}

@media screen and (max-width: 1023px) {
  header nav a:not(:first-child) {
    margin-top: 3em;
  }
}

header nav a .nav-item {
  color: #fff;
  font-size: 1.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

@media screen and (max-width: 1023px) {
  header nav a .nav-item {
    font-size: 1.75em;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
}

header nav a .nav-item::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00072D;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav a:hover .nav-item {
  color: #00072D;
}

header nav a:hover .nav-item::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main section.hero-section {
  background-color: #7510f7;
  position: relative;
}

@media screen and (max-width: 767px) {
  main section.hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main section.hero-section .hero__text {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  main section.hero-section .hero__text {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

main section.hero-section .hero__text h1 {
  color: #fff;
  font-size: 3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1.5px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-animation: fadeIn-from-top-X-50deg .75s ease-in-out forwards;
          animation: fadeIn-from-top-X-50deg .75s ease-in-out forwards;
}

@media screen and (max-width: 1023px) {
  main section.hero-section .hero__text h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 767px) {
  main section.hero-section .hero__text h1 {
    font-size: 2em;
  }
}

main section.hero-section .hero__text h1.back-text {
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  display: block;
  font-size: 6vw;
  letter-spacing: 4px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  opacity: 0;
  -webkit-animation: fadeIn-from-top-X-50deg-backTextElement .75s ease-in-out forwards .1s;
          animation: fadeIn-from-top-X-50deg-backTextElement .75s ease-in-out forwards .1s;
}

@media screen and (max-width: 1023px) {
  main section.hero-section .hero__text h1.back-text {
    font-size: 4em;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@media screen and (max-width: 767px) {
  main section.hero-section .hero__text h1.back-text {
    display: none;
  }
}

main section.hero-section .hero__text .sub-title {
  direction: rtl;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto 0 auto;
  font-size: 1.5em;
  opacity: 0;
  -webkit-animation: fadeIn-from-top .75s ease-in-out forwards;
          animation: fadeIn-from-top .75s ease-in-out forwards;
  text-align: center;
}

main section.hero-section .hero__text .sub-title .breaker {
  display: none;
}

@media screen and (max-width: 1023px) {
  main section.hero-section .hero__text .sub-title .breaker {
    display: inline-block;
  }
}

@media screen and (max-width: 1023px) {
  main section.hero-section .hero__text .sub-title {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 767px) {
  main section.hero-section .hero__text .sub-title {
    font-size: 1.1em;
  }
}

main section.hero-section .platforms-wrapper {
  position: absolute;
  width: clamp(300px, 50%, 80vw);
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  padding-bottom: 0;
  -webkit-animation: fadeIn-from-bot-Xcontroll .75s ease-in-out forwards;
          animation: fadeIn-from-bot-Xcontroll .75s ease-in-out forwards;
}

main section.hero-section .platforms-wrapper .platforms {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main section.about-me {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5.5em;
  padding: 4em;
  padding-top: 0;
  padding-bottom: 8em;
}

@media screen and (max-width: 1023px) {
  main section.about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 3em;
  }
}

main section.about-me .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  opacity: 0;
}

@media screen and (max-width: 1023px) {
  main section.about-me .text-wrapper {
    max-width: 100%;
    margin-top: 2em;
  }
}

main section.about-me .text-wrapper.show {
  -webkit-animation: fadeIn-from-bot .75s ease-in-out forwards;
          animation: fadeIn-from-bot .75s ease-in-out forwards;
}

main section.about-me .text-wrapper h2 {
  font-size: 2.5em;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  main section.about-me .text-wrapper h2 {
    font-size: 2.25em;
  }
}

@media screen and (max-width: 767px) {
  main section.about-me .text-wrapper h2 {
    font-size: 2em;
  }
}

main section.about-me .text-wrapper h2 span {
  font-size: .9em;
}

main section.about-me .text-wrapper p {
  margin-top: .5em;
  font-size: 1.3em;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  main section.about-me .text-wrapper p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 767px) {
  main section.about-me .text-wrapper p {
    font-size: 1.1em;
  }
}

main section.about-me .text-wrapper p span {
  line-height: 2em;
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (max-width: 1023px) {
  main section.about-me .text-wrapper p span {
    line-height: 1em;
  }
}

main section.about-me .img {
  text-align: center;
  opacity: 0;
}

main section.about-me .img.show {
  -webkit-animation: fadeIn-from-top .75s ease-in-out forwards;
          animation: fadeIn-from-top .75s ease-in-out forwards;
}

main section.about-me .img img {
  width: 350px;
  height: 350px;
  padding: 10px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 7, 45, 0.5));
          filter: drop-shadow(0 0 10px rgba(0, 7, 45, 0.5));
}

@media screen and (max-width: 1023px) {
  main section.about-me .img img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  main section.about-me .img img {
    width: 250px;
    height: 250px;
  }
}

main section.my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1F6F9;
  margin-top: 10em;
}

main section.my-work .works-wrapper {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  direction: rtl;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 15px #00072D;
          box-shadow: 0 0 15px #00072D;
  border-radius: 15px;
  background: #fff;
  opacity: 0;
}

main section.my-work .works-wrapper.show {
  -webkit-animation: fadeIn-from-bot-Ycontroll .75s forwards;
          animation: fadeIn-from-bot-Ycontroll .75s forwards;
}

@media screen and (max-width: 1023px) {
  main section.my-work .works-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

main section.my-work .works-wrapper .work {
  text-align: center;
  width: 50%;
  padding: 2em 1em;
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper .work {
    width: 100%;
  }
}

main section.my-work .works-wrapper .work:first-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 7, 45, 0.5);
          box-shadow: 0 0 5px rgba(0, 7, 45, 0.5);
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper .work:first-child {
    border-radius: 0px;
  }
}

main section.my-work .works-wrapper .work .title {
  font-size: 2em;
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper .work .title {
    font-size: 1.75em;
    margin-top: .5em;
  }
}

main section.my-work .works-wrapper .work .sub-title {
  margin-top: .5em;
  font-size: 1.15em;
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper .work .sub-title {
    font-size: 1em;
    margin-top: .35em;
  }
}

main section.my-work .works-wrapper .work .t1 {
  margin-top: 1em;
  font-size: 1.1em;
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper .work .t1 {
    font-size: 1em;
  }
}

main section.my-work .works-wrapper .work .desc {
  margin-top: .25em;
  font-size: 1.1em;
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper .work .desc {
    font-size: 1em;
  }
}

main section.my-work .works-wrapper .work .t2 {
  margin-top: 1em;
  font-size: 1.1em;
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper .work .t2 {
    font-size: 1em;
  }
}

main section.my-work .works-wrapper .work ul {
  margin-top: .25em;
  font-size: 1.1em;
}

@media screen and (max-width: 767px) {
  main section.my-work .works-wrapper .work ul {
    font-size: 1em;
  }
}

main section.my-work .works-wrapper .work ul li {
  list-style: none;
}

main section.testimonials {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #f1f6f9), to(white));
  background: linear-gradient(to bottom, #f1f6f9 90%, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4em 2em 4em;
}

main section.testimonials h2 {
  font-size: 2.5em;
  opacity: 0;
}

main section.testimonials h2.show {
  -webkit-animation: fadeIn-from-bot 0.75s forwards;
          animation: fadeIn-from-bot 0.75s forwards;
}

@media screen and (max-width: 1023px) {
  main section.testimonials h2 {
    font-size: 2.25em;
  }
}

@media screen and (max-width: 767px) {
  main section.testimonials h2 {
    font-size: 2em;
  }
}

main section.testimonials .testimonials-view {
  width: 40vw;
  margin-top: 4em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

main section.testimonials .testimonials-view.show {
  -webkit-animation: fadeIn-from-bot 0.75s forwards;
          animation: fadeIn-from-bot 0.75s forwards;
}

@media screen and (max-width: 1023px) {
  main section.testimonials .testimonials-view {
    margin-top: 3em;
    width: 55vw;
  }
}

@media screen and (max-width: 767px) {
  main section.testimonials .testimonials-view {
    margin-top: 2em;
    width: 70vw;
  }
}

main section.testimonials .testimonials-view .testimonials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial {
  text-align: center;
  padding: 1.5em 2em;
  direction: rtl;
  background-color: rgba(241, 246, 249, 0.85);
  background-blend-mode: screen;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
  main section.testimonials .testimonials-view .testimonials-wrapper .testimonial {
    padding-top: 1.25em;
  }
}

@media screen and (max-width: 767px) {
  main section.testimonials .testimonials-view .testimonials-wrapper .testimonial {
    padding-top: 1em;
  }
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial-text {
  margin-top: 1em;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 500;
  line-height: 2em;
  position: relative;
}

@media screen and (max-width: 1023px) {
  main section.testimonials .testimonials-view .testimonials-wrapper .testimonial-text {
    margin-top: .75em;
    font-size: 1.15em;
  }
}

@media screen and (max-width: 767px) {
  main section.testimonials .testimonials-view .testimonials-wrapper .testimonial-text {
    margin-top: .5em;
    font-size: 1.1em;
  }
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial-text::before, main section.testimonials .testimonials-view .testimonials-wrapper .testimonial-text::after {
  content: "";
  font-size: 1.2em;
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial-text::before {
  content: '" ';
  right: 0;
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial-text::after {
  content: ' "';
  left: 0;
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial .profile {
  margin-top: 2em;
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial .profile .name {
  font-size: 1.2em;
  font-weight: 700;
}

@media screen and (max-width: 1023px) {
  main section.testimonials .testimonials-view .testimonials-wrapper .testimonial .profile .name {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 767px) {
  main section.testimonials .testimonials-view .testimonials-wrapper .testimonial .profile .name {
    font-size: 1.1em;
  }
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial .profile .desc a {
  position: relative;
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial .profile .desc a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #7510f7;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial .profile .desc a:hover::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main section.testimonials .testimonials-view .testimonials-wrapper .testimonial img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1023px) {
  main section.testimonials .testimonials-view .testimonials-wrapper .testimonial img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 1023px) {
  main section.testimonials .testimonials-view .testimonials-wrapper .testimonial img {
    width: 80px;
    height: 80px;
  }
}

main section.testimonials .testimonials-view .points {
  margin-top: 1em;
}

main section.testimonials .testimonials-view .points .point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #7510f7;
  cursor: pointer;
}

main section.testimonials .testimonials-view .points .point.active {
  background-color: #7510f7;
}

main section.questions-and-answers {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.questions-and-answers h2 {
  font-size: 3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  opacity: 0;
}

main section.questions-and-answers h2.show {
  -webkit-animation: fadeIn-from-top .75s ease-in-out forwards;
          animation: fadeIn-from-top .75s ease-in-out forwards;
}

@media screen and (max-width: 1023px) {
  main section.questions-and-answers h2 {
    font-size: 2.25em;
  }
}

@media screen and (max-width: 767px) {
  main section.questions-and-answers h2 {
    font-size: 2em;
  }
}

main section.questions-and-answers .qaa-wrapper {
  width: 75%;
  margin-top: 2em;
  opacity: 0;
}

main section.questions-and-answers .qaa-wrapper.show {
  -webkit-animation: fadeIn-from-bot .75s ease-in-out forwards;
          animation: fadeIn-from-bot .75s ease-in-out forwards;
}

main section.questions-and-answers .qaa-wrapper .qaa {
  direction: rtl;
  text-align: right;
}

main section.questions-and-answers .qaa-wrapper .qaa:not(:first-child) {
  margin-top: 2em;
}

@media screen and (max-width: 1023px) {
  main section.questions-and-answers .qaa-wrapper .qaa:not(:first-child) {
    margin-top: 2.25em;
  }
}

@media screen and (max-width: 767px) {
  main section.questions-and-answers .qaa-wrapper .qaa:not(:first-child) {
    margin-top: 2.5em;
  }
}

main section.questions-and-answers .qaa-wrapper .qaa__question {
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 1023px) {
  main section.questions-and-answers .qaa-wrapper .qaa__question {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 767px) {
  main section.questions-and-answers .qaa-wrapper .qaa__question {
    font-size: 1.3em;
  }
}

main section.questions-and-answers .qaa-wrapper .qaa__question::before {
  content: '\f067';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: .9em;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%) translateX(100%);
          transform: translateY(-50%) translateX(100%);
}

@media screen and (max-width: 1023px) {
  main section.questions-and-answers .qaa-wrapper .qaa__question::before {
    font-size: .85em;
  }
}

@media screen and (max-width: 767px) {
  main section.questions-and-answers .qaa-wrapper .qaa__question::before {
    font-size: .8em;
  }
}

main section.questions-and-answers .qaa-wrapper .qaa.open .qaa__question::before {
  content: '\f068';
}

main section.questions-and-answers .qaa-wrapper .qaa__answer {
  font-size: 1.4em;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.25s ease-in-out;
  transition: height 0.25s ease-in-out;
}

@media screen and (max-width: 1023px) {
  main section.questions-and-answers .qaa-wrapper .qaa__answer {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 767px) {
  main section.questions-and-answers .qaa-wrapper .qaa__answer {
    font-size: 1.2em;
  }
}

main section.questions-and-answers .qaa-wrapper .qaa__answer a {
  position: relative;
}

main section.questions-and-answers .qaa-wrapper .qaa__answer a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #7510f7;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

main section.questions-and-answers .qaa-wrapper .qaa__answer a:hover::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main section.contact {
  background-color: #7510f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10em;
}

main section.contact .contact-box {
  background-color: #00072D;
  width: 75%;
  padding: 3.5em 1.25em;
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px #00072D;
          box-shadow: 0 0 20px #00072D;
}

@media screen and (max-width: 1023px) {
  main section.contact .contact-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 2em;
  }
}

main section.contact .contact-box .box-div {
  color: #ffffff;
  text-align: center;
  width: 100%;
}

main section.contact .contact-box .box-div a {
  color: #ffffff;
}

main section.contact .contact-box .box-div.right {
  font-size: 2em;
  font-weight: 700;
}

@media screen and (max-width: 1023px) {
  main section.contact .contact-box .box-div.right {
    margin-bottom: 1em;
    font-size: 1.75em;
  }
}

main section.contact .contact-box .box-div.center {
  font-size: 1.1em;
}

@media screen and (max-width: 1023px) {
  main section.contact .contact-box .box-div.center {
    font-size: 1em;
    margin-bottom: 2.5em;
  }
}

main section.contact .contact-box .box-div.center .breaker-1 {
  display: inline-block;
}

@media screen and (max-width: 1023px) {
  main section.contact .contact-box .box-div.center .breaker-1 {
    display: none;
  }
}

main section.contact .contact-box .box-div.center .breaker-2 {
  display: none;
}

@media screen and (max-width: 1023px) {
  main section.contact .contact-box .box-div.center .breaker-2 {
    display: inline-block;
  }
}

main section.contact .contact-box .box-div.left a {
  font-size: 1.1em;
  padding: .8em 3.5em;
  border: 2.5px solid #7510f7;
  border-radius: 30px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1023px) {
  main section.contact .contact-box .box-div.left a {
    font-size: 1em;
  }
}

main section.contact .contact-box .box-div.left a:hover {
  background-color: #7510f7;
}

footer {
  padding-bottom: 2rem;
  background-color: #7510f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.inner-page {
  padding-top: 2rem;
}

footer .logo svg {
  width: 130px;
  height: auto;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

footer .logo svg:hover {
  -webkit-transform: rotate(7.5deg);
          transform: rotate(7.5deg);
}

footer .text {
  margin-top: .5em;
  font-size: 1.2em;
  text-align: center;
  color: #ffffff;
}

footer .text span {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

footer .social-item {
  width: 3rem;
  height: 3rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

footer .social-item:not(:last-child) {
  margin-right: 1em;
}

footer .social-item i {
  font-size: 1.5em;
  color: #ffffff;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

footer .social-item:hover {
  background-color: #fff;
}

footer .social-item:hover i {
  color: #7510f7;
}

footer .copyright {
  color: #ffffff;
  margin-top: 2em;
}

footer .copyright a {
  color: #ffffff;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer .copyright a::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #00072D;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

footer .copyright a:hover {
  color: #00072D;
}

footer .copyright a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

main.contact-page {
  border-top: 1.5px solid rgba(0, 7, 45, 0.7);
  position: relative;
  padding-bottom: 4em;
}

main.contact-page .avatar {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fadeIn-from-top-avatar 0.75s ease-in-out forwards;
          animation: fadeIn-from-top-avatar 0.75s ease-in-out forwards;
}

main.contact-page .avatar img {
  width: 130px;
}

@media screen and (max-width: 767px) {
  main.contact-page .avatar img {
    width: 90px;
  }
}

main.contact-page .form-wrapper {
  direction: rtl;
  padding-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeIn-from-bot 0.75s ease-in-out forwards;
          animation: fadeIn-from-bot 0.75s ease-in-out forwards;
}

main.contact-page .form-wrapper h2 {
  font-size: 3em;
  text-align: center;
  font-weight: 300;
}

main.contact-page .form-wrapper form {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  main.contact-page .form-wrapper form {
    width: 85%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

main.contact-page .form-wrapper form .input-div {
  position: relative;
  text-align: center;
}

main.contact-page .form-wrapper form .input-div::before {
  content: attr(data-attr);
  position: absolute;
  bottom: 100%;
  right: 0.75em;
}

main.contact-page .form-wrapper form .input-div input,
main.contact-page .form-wrapper form .input-div textarea {
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 7, 45, 0.5);
  border-radius: 10px;
  padding: 0.7em 1.5em;
  font-size: 1.3em;
}

main.contact-page .form-wrapper form .input-div textarea {
  resize: none;
  height: 250px;
}

@media screen and (min-width: 767px) {
  main.contact-page .form-wrapper form .input-div.span-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

main.contact-page .form-wrapper form .input-div input[type="submit"] {
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
  color: #7510f7;
  border: 1.5px solid #7510f7;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

main.contact-page .form-wrapper form .input-div input[type="submit"]:hover {
  color: white;
  background-color: #7510f7;
}
/*# sourceMappingURL=style.css.map */