.contact-page {
    background: linear-gradient(180deg, #fff, #7fbedf);
    min-height: calc(100vh - 100px);
    position: relative;
    font-family: $rubik;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(large) {
        background-attachment: fixed;
    }
    @include breakpoint-less(large) {
        background: linear-gradient(180deg, #fff 0.3%, #7fbedf);
        min-height: calc(100vh - 92px);
    }
    .main-content {
        position: relative;
        direction: rtl;
        display: flex;
        width: 100%;
        min-height: 100%;
        align-items: center;
        padding-top: 88px;
        @include breakpoint-less(large) {
            flex-direction: column;
            margin-top: 50px;
            margin-bottom: 25px;
        }
        @media screen and (max-width: 1023px) {
            padding-top: 73px;
        }
        @media screen and (max-width: 767px) {
            padding-top: 49px;
        }

        .right {
            height: 100%;
            width: 50%;
            text-align: center;
            @include breakpoint-less(large) {
                width: 85%;
            }
            h2 {
                font-size: 2.5rem;
                @include breakpoint-less(large) {
                    font-size: 1.5rem;
                }
            }
            h1 {
                font-size: 4rem;
                @include breakpoint-less(large) {
                    font-size: 2.5rem;
                }
            }
            .social {
                display: flex;
                justify-content: space-between;
                width: 35%;
                margin: 0 auto;
                margin-top: 50px;
                @include breakpoint-less(large) {
                    margin-top: 25px;
                    width: 50%;
                }
                .social-item {
                    z-index: 11;
                    position: relative;
                    cursor: pointer;
                    transition: transform 0.25s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                    i {
                        font-size: 3rem;
                        color: #ffffff;
                        z-index: 1;
                        @include breakpoint-less(large) {
                            font-size: 2rem;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 5rem;
                        height: 5rem;
                        top: 50%;
                        left: 50%;
                        border: 2.5px solid black;
                        transform: translate(-50%, -50%);
                        background-color: #000;
                        z-index: -1;
                        border-radius: 50%;
                        @include breakpoint-less(large) {
                            width: 4rem;
                            height: 4rem;
                        }
                    }

                    &:first-child {
                        &::before {
                            background-color: #00da31;
                        }
                    }
                    &:last-child {
                        &::before {
                            background-color: #3e5db2;
                        }
                    }
                }
            }
        }
        .left {
            height: 100%;
            width: 50%;
            text-align: center;

            @include breakpoint-less(large) {
                margin-top: 50px;
                width: 85%;
            }
            h3 {
                font-size: 1.8rem;
                @include breakpoint-less(large) {
                    font-size: 1.4rem;
                }
            }

            form {
                margin: 0 auto;
                margin-top: 15px;
                width: 50%;
                @include breakpoint-less(large) {
                    width: 90%;
                }

                .input-div {
                    width: 100%;
                    position: relative;
                    margin-top: 20px;
                    @include breakpoint-less(large) {
                        margin-top: 2.5em;
                    }
                    &::after {
                        content: attr(data-title);
                        position: absolute;
                        color: rgba(#000, 0.75);
                        right: 20px;
                        top: 10px;
                        z-index: 2;
                        pointer-events: none;
                        font-size: 1.2em;
                        transition: 0.3s all ease-in-out;
                        @include breakpoint-less(large) {
                            font-size: 1rem;
                        }
                    }

                    &.required {
                        &::before {
                            content: "\f069";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            color: $main-red;
                            font-size: 0.85rem;
                            position: absolute;
                            top: 50%;
                            right: -20px;
                            transform: translateY(-50%);
                        }
                    }
                    &.msg {
                        &::after {
                            top: 10px;
                        }
                    }

                    input,
                    textarea {
                        width: 100%;
                        padding: 10px 20px;
                        font-size: 1.2em;
                        outline: none;
                        border: 2px solid rgba(black, 0.3);
                        border-radius: 10px;
                        // background-color: rgba(#fff, .75);
                        background-color: transparent;
                        @include breakpoint-less(large) {
                            font-size: 1rem;
                        }
                    }
                    textarea {
                        height: 150px;
                        resize: none;
                    }

                    &.submit {
                        input {
                            background-color: $main-red;
                            width: 50%;
                            border-color: transparent;
                            cursor: pointer;
                            color: white;
                            transition: 0.3s all ease-in-out;
                            &:hover {
                                box-shadow: 0 0 20px $main-red;
                                border-color: $main-red;
                                background-color: transparent;
                                color: black;
                            }
                        }
                    }

                    &.active {
                        &::after {
                            color: $main-red;
                            top: -20px;
                            right: 5px;
                            // font-weight: 700;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    .custom-shape-divider-top-1601554207 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1601554207 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 88px;
    }

    .custom-shape-divider-top-1601554207 .shape-fill {
        fill: #ffffff;
    }

    /** For tablet devices **/
    @media (min-width: 768px) and (max-width: 1023px) {
        .custom-shape-divider-top-1601554207 svg {
            width: calc(100% + 1.3px);
            height: 73px;
        }
    }

    /** For mobile devices **/
    @media (max-width: 767px) {
        .custom-shape-divider-top-1601554207 svg {
            width: calc(100% + 1.3px);
            height: 49px;
        }
    }
}
