.first-page {
    direction: rtl;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        bottom: 0;
        position: absolute;
        clip-path: circle(0% at 100% 0%);
        background-color: rgba($main-blue, 0.7);
        opacity: 0;
        z-index: 1;
        transition: all 1.2s ease-in-out;
    }
    &.active {
        &::before {
            opacity: 1;
            clip-path: circle(50% at 100% 28%);
            @include breakpoint-less(large) {
                clip-path: circle(50% at 100% 0%);
            }
        }
    }

    .main-content {
        direction: rtl;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 150px;
        font-family: $rubik;
        position: relative;
        transform: translateX(50%);
        opacity: 0;
        transition: transform 1.4s ease-in-out, opacity 1.4s ease-in 0.3s;

        @include breakpoint-less(large){
            display: flex;
        }

        &.active {
            transform: translateX(0%);
            opacity: 1;
            @include breakpoint-less(large) {
                right: 50%;
                transform: translateX(50%);
                padding: 0 50px;
            }
        }
        .text {
            @include breakpoint(large){
                grid-column: 2/3;
            }
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 3rem;
                font-family: $rubik;
                @include breakpoint-less(xlarge) {
                    font-size: 2.5rem;
                }
                @include breakpoint-less(large) {
                    font-size: 2rem;
                    text-align: center;
                }
                #typed {
                    color: $main-blue;
                    width: 0px;
                    border-left: 3px solid black;
                    padding-left: 5px;
                    animation: blink 750ms infinite;
                }
                .span-wrapper{
                    position: relative;
                    &.hide{
                        display: none;
                        overflow-x: hidden;
                        width: 0;
                        transition: width 500ms linear;
                    }
                    &.show{
                        display: inline-block;
                        width: fit-content;
                        transition: width 850ms linear;
                    }
                    
                    .typed{
                        position: relative;
                        width: fit-content;
                        display: none;
                        min-width: 400px;
                        &.active{
                            display: inline-block;
                        }
                    }
                }
            }
            p {
                font-size: 1.8rem;
                @include breakpoint-less(xlarge) {
                    font-size: 1.55rem;
                }
                @include breakpoint-less(large) {
                    font-size: 1.3rem;
                    text-align: center;
                }
                br {
                    display: none;
                    @media screen and (max-width: 1200px) {
                        display: block;
                    }
                }
            }
            a {
                width: fit-content;
                margin: 40px 0 0 auto;
                color: $main-blue;
                font-size: 1.4rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px 30px;
                overflow: hidden;
                z-index: 1;
                transition: all 0.4s ease-in-out;
                @include breakpoint-less(xlarge) {
                    font-size: 1.2rem;
                }
                @include breakpoint-less(large) {
                    font-size: 1.3rem;
                    margin: 35px auto 0 auto;
                    color: white;
                    background-color: $main-blue;
                    box-shadow: 0 0 15px $main-blue;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border-left: 3px solid $main-blue;
                    border-top: 3px solid $main-blue;
                    transition: all 0.5s ease-in-out 0s;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    border-right: 3px solid $main-blue;
                    border-bottom: 3px solid $main-blue;
                    transition: all 0.5s ease-in-out 0s;
                }
                &:hover {
                    color: white;
                    background-color: $main-blue;
                    box-shadow: 0 0 15px $main-blue;
                    transition: all 0.4s ease-in-out 0.3s;
                    &::before,
                    &::after {
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        transition: all 0.5s ease-in-out 0s;
                    }
                }
            }
        }
    }
}
