* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a {
    color: black;
}
.clr-red {
    color: $main-red;
}
.clr-blue {
    color: $main-blue;
}
.bold {
    font-weight: bold;
}
.bigger {
    font-size: 1.3em;
}
section {
    // height: calc(100vh - 100px);
    width: 100vw;
}
.read-more-link {
    color: white;
    padding: 10px 30px;
    border: 2.5px solid white;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    font-size: 1.3em;
    @include breakpoint-less(large){
        font-size: 1em;
        background-color: #fff;
        color: black;
    }
    &:hover{
        background-color: #fff;
        color: black;
    }
    &.black{
        color: black;
        border: 2.5px solid black;
        @include breakpoint-less(large){
            font-size: 1em;
            background-color: black;
            color: #fff;
        }
        &:hover{
            background-color: black;
            color: #fff;
        }
    }
    &.right {
        margin: 50px 0 0 auto;
        @include breakpoint-less(large) {
            margin: 25px auto 0 auto;
        }
    }
    &.left {
        margin: 50px auto 0 0;
        @include breakpoint-less(large) {
            margin: 25px auto 0 auto;
        }
    }
    &.center {
        margin: 50px auto 0 auto;
        @include breakpoint-less(large) {
            margin: 25px auto 0 auto;
        }
    }
}
