.questions-and-answers {
    direction: rtl;
    font-family: $rubik;
    position: relative;

    .main-content {
        padding-top: 88px;
        padding-bottom: 30px;
        @media (min-width: 768px) and (max-width: 1023px) {
            padding-top: 73px;
        }
        /** For mobile devices **/
        @media (max-width: 767px) {
            padding-top: 49px;
        }
        h2 {
            font-size: 4em;
            // width: fit-content;
            // margin: 0 auto;
            text-align: center;
            @include breakpoint-less(large) {
                font-size: 3em;
            }
        }
        .QAA-breaker {
            text-align: center;
            padding: 15px 0;
            position: relative;
            i {
                font-size: 3em;
                @include breakpoint-less(large) {
                    font-size: 2em;
                }
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 4px;
                width: 35vw;
                background-color: $main-blue;
                top: 50%;
                transform: translateY(-50%);
                @include breakpoint-less(large) {
                    height: 2.5px;
                }
            }
            &::before {
                right: 10vw;
            }
            &::after {
                left: 10vw;
            }
        }
        .QAA-wrapper {
            padding: 0 150px;
            @include breakpoint-less(large) {
                padding: 0 50px;
            }
            .QAA-item {
                margin-top: 30px;
                @include breakpoint-less(large) {
                    margin-top: 2.5em;
                }
                &-q {
                    font-weight: 500;
                    // width: fit-content;
                    font-size: 1.8em;
                    cursor: pointer;
                    padding: 0 20px;
                    position: relative;
                    outline: none;
                    @include breakpoint-less(large) {
                        font-size: 1.5em;
                    }
                    &::before {
                        content: "\f067";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        position: absolute;
                        font-size: 1.2rem;
                        right: -10px;
                        top: 50%;
                        transform: translateY(-50%);
                        @include breakpoint-less(large) {
                            font-size: 1.1rem;
                        }
                    }
                }
                &.open {
                    .QAA-item-q {
                        &::before {
                            content: "\f068";
                        }
                    }
                }
                &-a {
                    width: fit-content;
                    font-weight: 400;
                    font-size: 1.5em;
                    color: #3e4a61;
                    padding: 0 20px;
                    padding-bottom: 15px;
                    display: none;
                    @include breakpoint-less(large) {
                        font-size: 1.3em;
                    }

                    a {
                        color: #3e4a61;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .custom-shape-divider-top-1601554207 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1601554207 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 88px;
    }

    .custom-shape-divider-top-1601554207 .shape-fill {
        fill: #7fbedf;
    }

    /** For tablet devices **/
    @media (min-width: 768px) and (max-width: 1023px) {
        .custom-shape-divider-top-1601554207 svg {
            width: calc(100% + 1.3px);
            height: 73px;
        }
    }

    /** For mobile devices **/
    @media (max-width: 767px) {
        .custom-shape-divider-top-1601554207 svg {
            width: calc(100% + 1.3px);
            height: 49px;
        }
    }
}
