.second-page {
    font-family: $assistant;
    direction: rtl;
    position: relative;
    min-height: calc(100vh);
    background: url("https://cdn.pixabay.com/photo/2016/12/19/08/39/mobile-phone-1917737_960_720.jpg"),
    rgba(black, 0.85);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    
    color: #ffffff;
    @include breakpoint-less(large) {
        background-position: 20% 0;
        
        margin-top: -10%;
        min-height: calc(100vh - 92px);
    }
    .why-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        padding: 0px 150px;
        @include breakpoint-less(large){
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding: 30px 50px;
        }
        .why {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // padding: 100px 0;
            align-items: center;
            &-title {
                font-size: 2.75vw;
                padding-bottom: 20px;
                @include breakpoint-less(large){
                    font-size: 1.5rem;
                    padding-bottom: 10px;
                }
            }
            &-list {
                list-style: none;
                &-item {
                    padding: 15px 0px;
                    font-size: 1.3rem;
                    position: relative;
                    text-align: justify;
                    line-height: 1.6rem;
                    @include breakpoint-less(large){
                        font-size: 1rem;
                        padding: 8px 0px;
                        line-height: 1.3rem;
                        text-align: right;
                    }
                    h2{
                        display: inline-block;
                    }
                    &.check {
                        &::before {
                            content: "\f00c";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            color: #2ecc71;
                            position: absolute;
                            right: -40px;
                            top: 1.6rem;
                            transform: translateY(-50%);
                            font-size: 1.3em;
                            @include breakpoint-less(large){
                                font-size: 1rem;
                                right: -30px;
                                top: 1.3rem;
                            }
                        }
                    }
                    &.money {
                        &::before {
                            content: "\f4c0";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            color: #2ecc71;
                            position: absolute;
                            right: -40px;
                            top: 1.6rem;
                            transform: translateY(-50%);
                            font-size: 1.3em;
                            @include breakpoint-less(large){
                                font-size: 1rem;
                                right: -30px;
                                top: 1.3rem;
                            }
                        }
                    }
                    &.time {
                        &::before {
                            content: "\f017";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            color: #2ecc71;
                            position: absolute;
                            right: -40px;
                            top: 1.6rem;
                            transform: translateY(-50%);
                            font-size: 1.3em;
                            @include breakpoint-less(large){
                                font-size: 1rem;
                                right: -30px;
                                top: 1.3rem;
                            }
                        }
                    }
                    &.eso {
                        &::before {
                            content: "\f00e";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            color: #2ecc71;
                            position: absolute;
                            right: -40px;
                            top: 1.6rem;
                            transform: translateY(-50%);
                            font-size: 1.3em;
                            @include breakpoint-less(large){
                                font-size: 1rem;
                                right: -30px;
                                top: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
