footer {
    padding: 5px 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    @include breakpoint-less(large) {
        flex-direction: column-reverse;
        gap: 10px;
        text-align: center;
        padding: 5px 0;
        font-size: 0.85em;
    }
    .copyright {
        font-family: "poppins";
        text-transform: capitalize;
        color: rgba(#000, 0.5);
        a {
            color: rgba(#000, 0.5);
            transition: all 0.35s ease-in-out;
            &:hover {
                color: $main-blue;
            }
        }
    }
    .social {
        i {
            font-size: 1.5em;
            color: rgba($color: #000000, $alpha: 0.75);
            &:hover {
                color: black;
            }
            @include breakpoint-less(large) {
                color: black;
                font-size: 2em;
            }
        }
    }
}
