* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100vh;
    // position: relative;
}
a {
    color: black;
}
.clr-red {
    color: $main-red;
}
.clr-blue {
    color: $main-blue;
}
.bold {
    font-weight: bold;
}
.bigger {
    font-size: 1.3em;
}
.leave-details {
    width: fit-content;
    margin: 50px auto 0 auto;
    @include breakpoint-less(large) {
        margin: 25px auto 0 auto;
    }
    a {
        padding: 15px 40px;
        background-color: $main-red;
        border-radius: 30px;
        font-size: 1.3em;
        box-shadow: 0 0 15px $main-red;
        color: white;
        @include breakpoint-less(large) {
            padding: 10px 30px;
            font-size: 1em;
        }
    }
}
