header {
    padding: 30px 150px;
    position: fixed;
    width: 100vw;
    background-color: black;
    z-index: 111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint-less(large) {
        padding: 30px;
        padding-left: 15px;
        z-index: 2;
        // vertical-align: middle;
    }
    .logo {
        // flex: 1;
        h1 {
            color: white;
        }
        .clr-blue {
            color: $main-red;
        }
        &-text {
            &::before {
                color: white;
                
            }
        }
    }
    .logo {
        width: fit-content;
        cursor: pointer;
        &-text {
            display: flex;
            align-items: center;
            position: relative;
            @include breakpoint-less(large) {
                // margin: 0 auto;
            }
            h1 {
                font-size: 1.7rem;
                line-height: 2.5rem;
                font-family: $poppins;
                font-weight: 700;
                letter-spacing: 3px;
                transition: color 0.5s ease-in-out 0.1s;
                @include breakpoint-less(large) {
                    letter-spacing: 1px;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
                .clr-blue {
                    transition: color 0.5s ease-in-out 0.1s;
                    @include breakpoint-less(large) {
                        color: $main-red;
                    }
                }
            }
            &::before {
                content: "\f120";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 2.5rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -60px;
                transition: color 0.5s ease-in-out 0.1s;
                @include breakpoint-less(large){
                    display: none;
                }
            }
        }
    }
    .page-name{
        a{
            color: $main-blue;
            font-size: 1.3em;
            letter-spacing: 3px;
            font-weight: 700;
            opacity: 1;
            transition: .3s ease-in-out;
            font-family: $assistant;
        }
        @include breakpoint-less(large){
            display: none;
        }
    }
    .social{
        i{
            cursor: pointer;
            font-size: 1.7em;
            color: rgba($color: white, $alpha: .6);
            transition: .2s all ease-in-out;
            &:hover{
                color: white;
            }
            @include breakpoint-less(large){
                font-size: 1.4em;
                color: #fff;
            }
        }
    }
}
