body {
    min-height: 100vh;
    padding: 0;
}
main {
    direction: rtl;
    min-height: calc(100vh - 135px);
    margin-top: 100px;
    // position: relative;
    // top: 100px;
    background: url("https://cdn.pixabay.com/photo/2017/01/18/16/46/hong-kong-1990268_960_720.jpg"), rgba(#000, 0.85);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: $rubik;
    padding: 30px 0;
    z-index: -1;
    @include breakpoint-less(large) {
        min-height: calc(100vh - 92px);
        margin-top: 92px;
        padding: 30px;
    }

    .title {
        // padding-top: 30px;
        text-align: center;
        font-size: 1.3em;
        h1 {
            letter-spacing: 5px;
        }
        @include breakpoint-less(large){
            font-size: 1em;
        }
    }
    .reasons {
        padding: 25px 250px;
        @include breakpoint-less(large){
            padding: 25px 10px;
        }

        .reason:not(:first-child) {
            margin-top: 25px;
            @include breakpoint-less(large){
                margin-top: 12.5px;
            }
        }
        .reason {
            p {
                text-align: justify;
                font-size: 1.3em;
                @include breakpoint-less(large){
                    text-align: right;
                    font-size: 1em;
                }
                .reason-title {
                    font-size: 1.1em;
                    font-weight: 700;
                }
            }
        }
    }
}
