@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
}

a {
  color: black;
}

.clr-red {
  color: #E74C3C;
}

.clr-blue {
  color: #2980B9;
}

.bold {
  font-weight: bold;
}

.bigger {
  font-size: 1.3em;
}

.leave-details {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto 0 auto;
}

@media screen and (max-width: 999px) {
  .leave-details {
    margin: 25px auto 0 auto;
  }
}

.leave-details a {
  padding: 15px 40px;
  background-color: #E74C3C;
  border-radius: 30px;
  font-size: 1.3em;
  -webkit-box-shadow: 0 0 15px #E74C3C;
          box-shadow: 0 0 15px #E74C3C;
  color: white;
}

@media screen and (max-width: 999px) {
  .leave-details a {
    padding: 10px 30px;
    font-size: 1em;
  }
}

header {
  padding: 30px 150px;
  position: fixed;
  width: 100vw;
  background-color: black;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 999px) {
  header {
    padding: 30px;
    padding-left: 15px;
    z-index: 2;
  }
}

header .logo h1 {
  color: white;
}

header .logo .clr-blue {
  color: #E74C3C;
}

header .logo-text::before {
  color: white;
}

header .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

header .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .logo-text h1 {
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-transition: color 0.5s ease-in-out 0.1s;
  transition: color 0.5s ease-in-out 0.1s;
}

@media screen and (max-width: 999px) {
  header .logo-text h1 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

header .logo-text h1 .clr-blue {
  -webkit-transition: color 0.5s ease-in-out 0.1s;
  transition: color 0.5s ease-in-out 0.1s;
}

@media screen and (max-width: 999px) {
  header .logo-text h1 .clr-blue {
    color: #E74C3C;
  }
}

header .logo-text::before {
  content: "\f120";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -60px;
  -webkit-transition: color 0.5s ease-in-out 0.1s;
  transition: color 0.5s ease-in-out 0.1s;
}

@media screen and (max-width: 999px) {
  header .logo-text::before {
    display: none;
  }
}

header .page-name a {
  color: #2980B9;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: 700;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 999px) {
  header .page-name {
    display: none;
  }
}

header .social i {
  cursor: pointer;
  font-size: 1.7em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

header .social i:hover {
  color: white;
}

@media screen and (max-width: 999px) {
  header .social i {
    font-size: 1.4em;
    color: #fff;
  }
}

body {
  min-height: 100vh;
  padding: 0;
}

main {
  direction: rtl;
  min-height: calc(100vh - 135px);
  margin-top: 100px;
  background: url("https://cdn.pixabay.com/photo/2017/01/18/16/46/hong-kong-1990268_960_720.jpg"), rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 30px 0;
  z-index: 1;
}

@media screen and (max-width: 999px) {
  main {
    min-height: calc(100vh - 92px);
    margin-top: 92px;
    padding: 30px;
  }
}

main .title {
  text-align: center;
  font-size: 1.3em;
}

main .title h1 {
  letter-spacing: 5px;
}

@media screen and (max-width: 999px) {
  main .title {
    font-size: 1em;
  }
}

main .reasons {
  padding: 25px 250px;
}

@media screen and (max-width: 999px) {
  main .reasons {
    padding: 25px 10px;
  }
}

main .reasons .reason:not(:first-child) {
  margin-top: 25px;
}

@media screen and (max-width: 999px) {
  main .reasons .reason:not(:first-child) {
    margin-top: 12.5px;
  }
}

main .reasons .reason p {
  text-align: justify;
  font-size: 1.3em;
}

@media screen and (max-width: 999px) {
  main .reasons .reason p {
    text-align: right;
    font-size: 1em;
  }
}

main .reasons .reason p .reason-title {
  font-size: 1.1em;
  font-weight: 700;
}

footer {
  padding: 5px 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 999px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 10px;
    text-align: center;
    padding: 5px 0;
    font-size: .85em;
  }
}

footer .copyright {
  font-family: "poppins";
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

footer .copyright a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

footer .copyright a:hover {
  color: #2980B9;
}

footer .social i {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.75);
}

footer .social i:hover {
  color: black;
}

@media screen and (max-width: 999px) {
  footer .social i {
    color: black;
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */